 /* Fixed sidenav, full height */
 .sidenav {
     height: 100%;
     width: 200px;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: transparent;
     overflow-x: hidden;
     text-align: right;
     margin-top: 20%;
 }

 /* Style the sidenav links and the dropdown button */
 .sidenav a,
 .dropdown-btn {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 14px;
     color: #000000;
     display: block;
     border: none;
     background: none;
     width: 100%;
     text-align: right;
     cursor: pointer;
     outline: none;
 }

 .roll {
     overflow-x: scroll;
 }

 ul {
     /* this will apply to inner UL, adapt to your desired selector */
     -webkit-transition: height 0.3s ease-in-out;
     -o-transition: height 0.3s ease-in-out;
     -moz-transition: height 0.3s ease-in-out;
     transition: height 0.3s ease-in-out;
 }

 .sosmed {
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     float: right;
     margin-top: 10%;
 }

 .sosmed-ikon {
     float: left;
     margin: 5px;
 }

 /* On mouse-over */
 .sidenav a:hover,
 .dropdown-btn:hover {
     color: #949090;
 }

 /* Main content */
 .main {
     margin-left: 200px;
     /* Same as the width of the sidenav */
     font-size: 20px;
     /* Increased text to enable scrolling */
     padding: 0px 10px;
 }

 /* Add an active class to the active dropdown button */
 .active {
     background-color: rgb(255, 255, 255);
     color: #363535;

 }

 /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
 .dropdown-container {
     display: none;
     background-color: #ffffff;
     padding-left: 8px;
 }

 /* Optional: Style the caret down icon */
 .fa-caret-down {
     float: right;
     padding-right: 8px;
 }

 .hide {
     display: none;
 }

 .monitor {
     margin-right: -6%;
     margin-left: 8%;
     position: fixed;
 }


 .judul-karosel {
     margin-bottom: 27px;
 }

 /* /////////////////////////////////////////////////////
 laptop setting

 //////////////////////////////////////////////////// */

 @media only screen and (min-width :1280px) and (max-width: 1366px) {

     .sidenav {
         height: 100%;
         width: 240px;
         z-index: 1;
         top: 0;
         left: 0;
         background-color: transparent;
         overflow-x: hidden;
         padding-top: 10px;
         text-align: right;
         margin-left: -37px;

     }

     .logo {
         margin-bottom: -15%;
     }

     .monitor {
         margin-right: -7%;
         margin-left: 6%;

     }

     body {
         overflow-x: hidden;
     }
 }


 /* /////////////////////////////////////////////////////
        ipad setting

 //////////////////////////////////////////////////// */
 @media only screen and (min-width :800px) and (max-width: 1023px) {

     .monitor {
         margin-right: 4%;
         margin-left: 2%;
     }

     .hide-btn {

         display: none;
     }

     body {
         overflow-x: hidden;
     }
 }

 /* /////////////////////////////////////////////////////
        android setting

 //////////////////////////////////////////////////// */


 @media only screen and (max-width: 799px) {
     body {
         overflow-x: hidden;
     }

     .hide-btn {
         margin-left: 45px;
     }

     .logo {
         margin-top: 5%;
     }

     .hide {
         display: block;
     }

     .video {
         margin: 6px;
     }

     .sidenav {
         display: none;
         height: 100%;
         width: 200px;
         z-index: 1;
         top: 0;
         left: 0;
         background-color: transparent;
         overflow-x: hidden;
         padding-top: 20px;
         text-align: right;

     }

     .logo {
         margin-top: 5%;
         text-align: right;
     }

     .monitor {
         position: relative;
         overflow-x: hidden;

     }

 }