 /* Fixed sidenav, full height */
 .sidenav {
     height: 100%;
     width: 200px;
     z-index: 1;
     top: 0;
     left: 0;
     background-color: transparent;
     overflow-x: hidden;
     padding-top: 20px;
     text-align: right;
 }

 /* Style the sidenav links and the dropdown button */
 .sidenav a,
 .dropdown-btn {
     padding: 6px 8px 6px 16px;
     text-decoration: none;
     font-size: 20px;
     color: #818181;
     display: block;
     border: none;
     background: none;
     width: 100%;
     text-align: right;
     cursor: pointer;
     outline: none;
 }

 .roll {
     overflow-x: scroll;
 }

 body {
     overflow: hidden;

 }

 /* On mouse-over */
 .sidenav a:hover,
 .dropdown-btn:hover {
     color: #000000;
 }

 /* Main content */
 .main {
     margin-left: 200px;
     /* Same as the width of the sidenav */
     font-size: 20px;
     /* Increased text to enable scrolling */
     padding: 0px 10px;
 }

 /* Add an active class to the active dropdown button */
 .active {
     background-color: rgb(255, 255, 255);
     color: rgb(0, 0, 0);
 }

 /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
 .dropdown-container {
     display: none;
     background-color: #ffffff;
     padding-left: 8px;
 }

 /* Optional: Style the caret down icon */
 .fa-caret-down {
     float: right;
     padding-right: 8px;
 }

 .hide {
     display: none;
 }

 .monitor {
     margin-right: -7%;
     margin-left: 13%;

 }


 /* /////////////////////////////////////////////////////
 laptop setting

 //////////////////////////////////////////////////// */

 @media only screen and (min-width :1280px) and (max-width: 1366px) {

     .sidenav {
         height: 100%;
         width: 200px;
         z-index: 1;
         top: 0;
         left: 0;
         background-color: transparent;
         overflow-x: hidden;
         padding-top: 20px;
         text-align: right;

     }

     .logo {
         margin-top: 5%;
     }

     .monitor {
         margin-right: -7%;
         margin-left: 9%;

     }
 }


 /* /////////////////////////////////////////////////////
        ipad setting

 //////////////////////////////////////////////////// */
 @media only screen and (min-width :800px) and (max-width: 1023px) {

     .monitor {
         margin-right: 4%;
         margin-left: 2%;
     }

     .hide-btn {

         display: none;
     }

 }

 /* /////////////////////////////////////////////////////
        android setting

 //////////////////////////////////////////////////// */


 @media only screen and (max-width: 799px) {

     .logo {
         margin-top: 5%;
     }

     .hide {
         display: block;
     }


     .sidenav {
         display: none;
         height: 100%;
         width: 200px;
         z-index: 1;
         top: 0;
         left: 0;
         background-color: transparent;
         overflow-x: hidden;
         padding-top: 20px;
         text-align: right;

     }

     .logo {
         margin-top: 5%;
         text-align: right;
     }

 }